body {
	background-color: black;
}

@media screen and (min-width: 700px) {
	.Lec-img {
		width: 700px;
		}
	.Lec {
		width: 700px;
	}
	.Lec-contact {
		width: 695px;
		padding: 10px 5px;
	}
	.Lec-text {
		width: 670px;
		padding: 10px 15px;
	}
	}

	@media screen and (max-width: 700px) {
		.Lec {
			width: 95%;
		}
		.Lec-img {
			width: 95%;
		}
		.Lec-contact {
			width: 89%;
			padding: 1% 1%;
		}
		.Lec-text {
			width: 93%;
			padding: 1% 1%;
		}
	}

.Lec {
	margin: 0 auto;
}
.heading {
	width: 83%;
	margin: 10px auto;
}
.heading__title {
	width: 83%;
	margin: auto;
	font-family: 'Ubuntu';
	color: #99772e;
	text-align: center;
	font-style: italic;
	height: 100%;
}

.main {
	width: 100%;
	margin: 0 auto;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.Lec-img {
	height: 100%;
	margin: 5px auto;
	display: block;
	border: 2px solid #99772e;
	border-radius: 10px;	
}
.Lec-text {
	margin: 5px auto;	
	color: black;
	font-size: 25px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	border: 2px solid #99772e;
	font-family: 'Ubuntu';
}
.Lec-contact {
	height: fit-content;
	color: black;
	background-color: #99772e;
	margin: 0 auto;
	border: 2px solid rgb(71, 46, 8);
	border-radius: 10px;
	font-family: 'Ubuntu';
	font-size: 25px;
	text-align: center;
}

.Lec-contacts {
	padding-left: 0;
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
}

.Lec-vk {
	text-decoration: none;
	color: darkblue;
}

@font-face {
  font-family: "Ubuntu";
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-style: normal; 
  font-weight: normal; 
}
